.select_seat{
	margin-top: 25px;
	margin-left: 10px;
}
table tr td input{
	width: 25px !important;
    height: 25px;
    background-color: #95A5A6;
    border: none;
    cursor: pointer;
}
select{
	    height: 25px;
    border-radius: 6px;
}
.info{
	margin-top: 15px;
    margin-left: 15px;
}
.green{
	background-color: green

}
.red{
	background-color: red
}
.booking_ticket
{
	margin-top: 15px;
    margin-left: 15px;
}
.booking{
	 margin-top: 10px;
    height: 29px;
    background-color: #2F12A6;
    color: white;
    border: none;
    border-radius: 7px;
}
/* Purchase page css*/
form tr td input[type="text"]{
	width: 400px !important;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    cursor: default;
    border: 1px solid black;
}
form tr td input[type="Number"]{
	width:40px !important ;
	height: 30px;
    border-radius: 5px;
    background-color: white;
    cursor: default;
    border: 1px solid black;
}

/* confirm button */
.final_submit{
	width: 100px !important;
    height: 30px;
    border-radius: 16px;
    background-color: white;
    border: 1px solid;
}
}